<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>render created by xiaogang on 2018/12/4</title>
    <link type="text/css" rel="stylesheet" href="./render.css"/>
    <style type="text/css">

    </style>
</head>
<body>
<header>render</header>
<div class="dev-page page-render">
  <webview class="renderBox" id="renderBox">
    <div class="header">
      <p>微信开发者工具</p>
    </div>
    <div class="contents">
      <p>欢迎使用微信开发者工具</p>
      <p>通过该工具，你可以更加便捷的调试微信上的网页：</p>
      <p>1. 你可以使用自己的微信号来调试微信网页授权;</p>
      <p>2. 你可以调试、检验页面的JS-SDK相关功能与权限，模拟大部分 SDK 的输入和输出;</p>
      <p>3. 你可以利用集成的Chrome DevTools协助开发。</p>
    </div>
  </webview>
  <webview class="devTools" id="devTools">
    devTools
  </webview>
</div>
</body>
<script type="text/javascript" src="./devTools.js"></script>
</html>
