/**
 * Created by xiaogang on 2018/12/3.
 *
 */

.page-render {
  background: #eee;

  //content
  .contents {
    overflow: hidden;
    .selectsBox {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;

      @border: 1px solid #ccc;
      overflow: hidden;
      border-bottom: @border;
      border-top: @border;

      @select-height: 25px;
      .pre-select {
        position: relative;
        float: left;
        max-width: 110px;
        width: 30%;
        height: @select-height;
        line-height: @select-height;

        .select-header {
          position: absolute;
          width: 100%;
          text-indent: 6px;
          border-right: @border;
        }
      }

      .select, select {
        height: @select-height;
        border: none;
        width: 100%;
        opacity: 0;
        appearance: none;
      }
    }

  }

}

