<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>devTools</title>
  <link type="text/css" rel="stylesheet" href="../../common/common.css"/>
  <link type="text/css" rel="stylesheet" href="./home.css"/>
  <style type="text/css">

  </style>
</head>
<body>

<div class="dev-page page-home">
  <div class="header">
    <div class="inputBox">
      <form onSubmit="return false;">
        <input id="renderPageUrl" autofocus="autofocus" class="input" placeholder="input your page url">
      </form>

    </div>

    <p class="toggleDevTools" id="toggleDevTools">devTools</p>
  </div>

  <div class="content" id="content">
    <div class="renderView">
      <div class="selectsBox">
        <select id="phoneType">
          <option value="mi_mix_2">mi mix 2 (320*568 | Dpr:2)</option>
          <option value="iphone_5">iphone5 (320*568 | Dpr:2)</option>
          <option value="iphone_6" selected>iphone6 (375*667 | Dpr:2)</option>
        </select>
        <select id="percent">
          <option value="100">100%</option>
          <option value="85">85%</option>
          <option value="75" selected>75%</option>
          <option value="50">50%</option>
        </select>
        <select id="network">
          <option value="wifi" selected>WIFI</option>
          <option value="2G">2G</option>
          <option value="3G">3G</option>
          <option value="4G">4G</option>
          <option value="5G">5G</option>
          <option value="Offline">Offline</option>
        </select>
      </div>

    </div>

    <!--
    <div class="renderBox">

      <webview class="renderView" id="renderView">
        devTools
      </webview>
    </div>
    <div class="devTools">
      <webview class="devToolsView" id="devToolsView">
        devToolsView
      </webview>
    </div>
    -->
  </div>
</div>
</body>
<script type="text/javascript" src="homeRender.js"></script>
</html>
