<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>devTools</title>
    <link type="text/css" rel="stylesheet" href="./home.css"/>
    <style type="text/css">

    </style>
</head>
<body>

<div class="dev-page page-home">
    <header>
        <input class="input" placeholder="输入您要调试的页面地址">
    </header>
    <p class="devTools" id="devTools">devTools</p>
    <div class="content" id="content"></div>
</div>
</body>
<script type="text/javascript" src="homeRender.js"></script>
</html>
