<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>devTools home</title>
  <link type="text/css" rel="stylesheet" href="../../common/common.css"/>
  <link type="text/css" rel="stylesheet" href="./home.css"/>
</head>
<body>

<div class="dev-page page-home">
  <div class="header">
    <div class="inputBox">
      <form onSubmit="return false;">
        <input id="renderPageUrl" autofocus="autofocus" class="input" placeholder="input your page url">
      </form>

    </div>

    <p class="toggleDevTools" id="toggleDevTools">devTools</p>
  </div>

  <div class="contents" id="content">

  </div>
</div>
</body>
<script type="text/javascript" src="home.js"></script>
</html>
