/**
 * Created by xiaogang on 2018/12/3.
 *
 */

.page-home {
  .header {
    .inputBox {
      form {
        width: 80%;
        margin: 0 auto;
      }
    }
    .toggleDevTools {
      border-bottom: 1px solid #c7c7c7;
    }
    input {
      width: 100%;
      line-height: 20px;
    }

  }

  //content
  .content {
    border: 1px solid #2ECA76;
    overflow: hidden;
    height: 100%;
    min-width: 800px;
    @renderBoxWidth: 400px;

    .renderBox {
      border: 1px solid #4A90E2;
      min-width: @renderBoxWidth;
      float: left;
      height: 100%;

      webview {
        display: flex;
      }

      iframe {
        width: 100%;
        height: 100%;
      }
    }

    .devTools {
      border: 1px solid #FD3259;
      height: 100%;
      margin-left: @renderBoxWidth;
    }
  }

}
