/**
 * Created by xiaogang on 2018/12/3.
 *
 */
.page-home {
  background: #eee;
}
.page-home .header {
  position: relative;
  height: 100px;
}
.page-home .header .inputBox {
  padding-top: 35px;
}
.page-home .header .inputBox form {
  background: #fff;
  border: 1px solid #c7c7c7;
  font-size: 14px;
  width: 66%;
  margin: 0 auto;
}
.page-home .header .inputBox input {
  text-indent: 8px;
  width: 100%;
  line-height: 30px;
}
.page-home .header .toggleDevTools {
  position: absolute;
  left: 10px;
  top: 40px;
  background: #fff;
  padding: 2px 8px;
  font-size: 12px;
}
.page-home .content {
  overflow: hidden;
}
.page-home .content .renderView {
  float: left;
  min-width: 400px;
}
.page-home .content .renderView .selectsBox {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.page-home .content .renderView .selectsBox select {
  float: left;
  height: 30px;
  max-width: 110px;
  width: 30%;
  border: none;
  border-right: 1px solid #ccc;
}
