/**
 * Created by xiaogang on 2018/12/3.
 *
 */
.page-home {
  background: #eee;
}
.page-home .header {
  position: relative;
  height: 100px;
}
.page-home .header .inputBox {
  padding-top: 35px;
}
.page-home .header .inputBox form {
  background: #fff;
  border: 1px solid #c7c7c7;
  font-size: 14px;
  width: 66%;
  margin: 0 auto;
}
.page-home .header .inputBox input {
  text-indent: 8px;
  width: 100%;
  line-height: 30px;
}
.page-home .header .toggleDevTools {
  position: absolute;
  left: 10px;
  top: 40px;
  background: #fff;
  padding: 2px 8px;
  font-size: 12px;
}
.page-home .content {
  border: 1px solid #2ECA76;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  height: 100%;
  height: calc(100% - 100px);
  min-width: 800px;
}
.page-home .content .renderBox {
  border: 1px solid #4A90E2;
  min-width: 400px;
  float: left;
  height: 100%;
}
.page-home .content .renderBox webview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page-home .content .renderBox iframe {
  width: 100%;
  height: 100%;
}
.page-home .content .devTools {
  border: 1px solid #FD3259;
  height: 100%;
  margin-left: 400px;
}
