/**
 * Created by xiaogang on 2018/12/3.
 *
 */

.page-home {
  background: #eee;
  @header-height: 100px;
  .header {
    position: relative;
    height: @header-height;
    .inputBox {
      padding-top: 35px;
      @input-height: 30px;
      form {
        position: relative;
        background: #fff;
        border: 1px solid #c7c7c7;
        font-size: 14px;

        width: 66%;
        margin: 0 auto;
      }
      input {
        text-indent: 8px;
        width: 100%;
        line-height: @input-height;
      }

      .refresh {
        position: absolute;
        right: 0;
        top: 0;
        width: @input-height;
        height: @input-height;
        background: url("../../image/common/refresh.svg") no-repeat center center;
        background-size: 66%;
      }
    }
    .toggleDevTools {
      position: absolute;
      left: 10px;
      top: 40px;
      background: #fff;
      padding: 2px 8px;
      font-size: 12px;
    }

  }

  //contents

}
