/**
 * Created by xiaogang on 2018/12/3.
 *
 */
.page-home .header .inputBox form {
  width: 80%;
  margin: 0 auto;
}
.page-home .header .toggleDevTools {
  border-bottom: 1px solid #c7c7c7;
}
.page-home .header input {
  width: 100%;
  line-height: 20px;
}
.page-home .content {
  border: 1px solid #2ECA76;
  overflow: hidden;
  height: 100%;
  min-width: 800px;
}
.page-home .content .renderBox {
  border: 1px solid #4A90E2;
  min-width: 400px;
  float: left;
  height: 100%;
}
.page-home .content .devTools {
  border: 1px solid #FD3259;
  margin-left: 400px;
}
